<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMSApiKey</key>
	<string>AIzaSyDPnGaTgfWf8jpzKkNFBuaVheFEY43QAvQ</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>241631684799-scvakgb62prfes6trusrfb5as6ba8gj9.apps.googleusercontent.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.241631684799-scvakgb62prfes6trusrfb5as6ba8gj9</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
